body {
    margin: 0;
    color: #363636;
}

html {
    font-size: 18px!important;
}

.leaflet-popup-content p {
    margin: 0;
    color: #363636;
}

.leaflet-touch .leaflet-bar a {
    padding: 0;
    border-radius: 8px !important;
}

.leaflet-control-zoom {
    display: flex;
    flex-direction: column;
}

#logo {
    position: absolute;
    bottom: 2.5%;
    left: 2.5%;
    width: 20%;
    z-index: 998;
}

@media only screen and (max-width: 992px) {
    #logo {
        left: 5%;
        bottom: 3.5%;
        width: 40%;
    }
}

@media only screen and (max-width: 768px) {
    #logo {
        width: 50%;
    }
}


.small{font-size: .9rem;}
.smaller{font-size: .7rem;}
.mb-0{margin-bottom: 0!important;}

button {
    padding: 8px !important;
    font-size: .9rem!important;
    line-height: 1rem!important;
}
div[role="group"] {
    box-shadow: none!important;
}

.text-primary {
    color: #363636 !important;
}
.text-secondary {
    color: #6a6a6a !important;
}
.text-tertiary {
    color: #a6a6a6 !important;
}
.text-white {
    color: #ffffff !important;
}

/** Modal **/

dialog{
    z-index: 1000;
}
dialog article {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
dialog article main {
    overflow: auto;
}



@media (min-width: 768px) {
  dialog.large > article {
    max-width: 95vw!important;
  }
}
