body {
    margin: 0;
}

html {
    font-size: 18px!important;
}

.leaflet-popup-content p {
    margin: 0;
    color: #363636;
}

.leaflet-touch .leaflet-bar a {
    padding: 0;
    border-radius: 8px !important;
}

#logo {
    position: absolute;
    bottom: 5%;
    left: 2.5%;
    width: 20%;
    z-index: 10001;
}

@media only screen and (max-width: 992px) {
    #logo {
        left: 5%;
        bottom: 3.5%;
        width: 40%;
    }
}

@media only screen and (max-width: 768px) {
    #logo {
        width: 50%;
    }
}


.small{font-size: .85rem; line-height: 1rem;}
.mb-0{margin-bottom: 0!important;}

button {
    padding: 8px !important;
    font-size: .9rem;
}
div[role="group"] {
    box-shadow: none!important;
}

.text-secondary {
    color: #6A6A6A !important;
}