#controls-panel {
    background-color: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 5%;
    left: 2.5%;
    width: 25%;
    max-height: 75vh;
    height: auto;

    padding: 24px 8px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    z-index: 10000;

    background-image: url('/static/logo/background_blur.png');
    background-size: auto 11vw;
    background-position: 15vw -5vh;
}
#controls-panel #form {
    padding-bottom: 1rem;
}

dl {
    color: #363636;
}

dl dd {
    margin-left: 0!important;
    margin-bottom: 6px;
}


@media only screen and (max-width: 992px) {
    #controls-panel {
        width: 45%;
        left: 5%;
        top: 2.5%;
        background-size: auto 18vw;
        background-position: 28vw -5vh;
    }
    #controls-panel h3 {
        margin-right: 50px!important;
    }
    #controls-panel img {
        width: 15%;
    }
}

@media only screen and (max-width: 768px) {
    #controls-panel {
        width: 95%;
        left: 2.5%;
        top: 1%;
        max-height: 90vh;
        background-size: auto 30vw;
        background-position: 65vw -5vh;
    }
}

#controls-panel h1 {
    color: #363636 !important;
}

.text-left {
    text-align: left !important;
}

input[type=number] {
    margin: 0!important;
    height: 2rem!important;
}

details[open] {
    border-left: 1px solid #dcdcdc;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
}
details summary {
    color: #6a6a6a!important;
}
details[open] summary {
    font-weight: bold;
    color: #363636!important;
}


/** Caption Box **/
#caption {
    position: absolute;
    bottom: 2.5%;
    right: 2.5%;
    max-width: 25%;
    height: auto;
    text-align: right;
    vertical-align: middle;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    z-index: 10000;
    font-size: 0.8rem;
    color: #363636;
    display: flex;
    align-items: flex-end;
}
@media only screen and (max-width: 992px) {
    #caption {
        max-width: 45%;
        right: 5%;
    }
}
@media only screen and (max-width: 768px) {
    #caption {
        max-width: 95%;
        top: unset;
        bottom: 7.5%;
        right: 1%;
    }
}
#caption p {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 0.3em 0.5em;
    margin-bottom: 0.5em;
}
#caption .caption-square {
    vertical-align: -0.1em;
    width: 1em;
    height: 1em;
    display: inline-block;
    border-radius: 4px;
    margin-right: 0.5em;
}