#controls-panel {
    background-color: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 5%;
    left: 2.5%;
    width: 25%;
    max-height: 75vh;
    height: auto;

    padding: 24px 8px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    z-index: 10000;
}

dl {
    color: #363636;
}

dl dd {
    margin-left: 0!important;
    margin-bottom: 6px;
}


@media only screen and (max-width: 992px) {
    #controls-panel {
        width: 45%;
        left: 5%;
        top: 2.5%;
    }
    #controls-panel h3 {
        margin-right: 50px!important;
    }
    #controls-panel img {
        width: 15%;
    }
}

@media only screen and (max-width: 768px) {
    #controls-panel {
        width: 95%;
        left: 2.5%;
        top: 1%;
        max-height: 90vh;
    }
}

#controls-panel h1 {
    color: #363636 !important;
}

.text-left {
    text-align: left !important;
}

input[type=number] {
    margin: 0!important;
    height: 2rem!important;
}